body {
    color: rgba(255,255,255,.8);
    background: linear-gradient(to top left, #4A148C, #C51162) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

label {
    display: block;
    text-align: center;
    padding-bottom: 10px;
}

 input[type=submit]  {
     background: transparent;
     width: 80%;
     padding: 1.5vh;
     cursor: pointer;
     border-radius: 4px 4px;
     margin-bottom: 2vh;
     border: 3px solid transparent;
     border-image: linear-gradient(to top left, #4A148C, #C51162);
     border-image-slice: 1;
}

input[type=submit]:hover  {
    background: rgba(255,255,255,.2);;
}

input[type=submit]:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

input[type=text] {
    font-size: 15px;
    margin-bottom: 30px;
    border-right: none;
    border-top: none;
    border-left: none;
    background-color:transparent;
    outline: none;
    color: white;
    caret-color: white;
    display: inline-block;
    width: 100%;
    border-bottom: 2px solid rgba(255,255,255,.5);
}


input[type=text]:focus {
    background-color: transparent;
    border-bottom: 2px solid rgba(255,255,255,.8);
}