html, body {
    color: rgba(255, 255, 255, .85);
    font-size: 1vw;
    height: 100%;
    font-family: 'Lora', serif;
    margin: auto;
}

.container {
    background-color: black;
    height: 100%;
    width: 100%;
    display: inline-flex;
}

.leftSide {
    height: 100%;
    font-family: 'Lora', serif;
    float: left;
    width: 20%;
    background-color: white;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.rightSide {
    background-color: white;
    width: 80%;
    height: 100%;
}

.logo {
    height: 7%;
    padding: 10px;
    display: flex;
    align-items: center;
}

.logoImage {
    max-width: 100%;
}

.sideMenu {

}

.sideMenu ul {

}

.header {
    background-color: #1C2022;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    min-height: 7vh;
}

.ui-breadcrumb{
    background: none!important;
    font-size: 0.6vw!important;
    font-family: 'Lora', serif!important;
    font-weight: 400!important;
}

.navigationInfo {
    background-color: #1C2022;
    height: 3%;
}

.breadcrumbs {
}

.title {
    background-color: #1C2022;
    height: 12%;
    font-family: 'Lora', serif;
    font-weight: bold;
    font-size: 1.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageContent {
    background-color: white;
    color: #1C2022;
    height: 75%;
    justify-items: center;
}


.footer {
    background-color: #1C2022;
    color: rgba(255, 255, 255, .7);
    position: fixed;
    right: 0;
    bottom: 0;
    display: grid;
    text-align: center;
    font-size: 0.5vw;
    padding: 5px;
    line-height: 1.4;
    width: 80%;
}