/*Style for information for user (bad value in form)*/
.message {
    font-size: 0.7vw;
    background-color: rgba(220, 20, 60, .65);
    border-radius: 4px;
    padding: 0.2vw;
    height: fit-content;
}

.message::before {
    content: "\f071";
    padding-right: 0.2vw;
    font-family: FontAwesome, serif;
}