.rent-table {
    display: table;
    border-collapse:collapse;
    width:100%;
    font-size: 0.85vw;
}

.table-purple thead {
    background-color:rgba(149, 94, 139, .8);
}

thead {
    color:white;
}

.rent-table a {
    display: table-row;
    text-align:center;
    padding:1vh 0;
}

.rent-table a span {
    display: table-cell;
    color: #1C2022;
}

.rent-table a:nth-child(even) {
    background:#ECF0F1;
}

.rent-table a:hover {
    background:#BDC3C7;
    color:#FFFFFF;
}

.click-row tbody tr {
    cursor: pointer;
}