/*Style for table (header, row and submit button)*/
.table-purple {
    border-collapse: collapse;
    width: 100%;
    font-size: 0.85vw;
}

.table-purple-header {
    background-color: rgba(149, 94, 139, .8);
    color: white;
}

.table-purple th, .table-purple td {
    text-align: center;
    padding: 1vh 0.1vw;
}

.table-purple-row:nth-child(even) {
    background: #ECF0F1;
}

.table-purple-row:hover {
    background: #BDC3C7;
    color: #FFFFFF;
}

.table-purple-button {
    padding: 0.5vh;
    min-width: 100%;
    border: 0.1em solid rgba(149, 94, 139, .8);
    background-color: transparent;
    border-radius: 0.15em;
    transition: all 0.35s;
    font-family: 'Lora', serif;
    margin: 0.15vh;
}

.table-purple-button:hover {
    color: white;
    background-color: rgba(149, 94, 139, .8);
    cursor: pointer;
}