table{
    border-collapse:collapse;
    width:100%;
    font-size: 1vw;
}

.table-purple thead{
    background-color:rgba(149, 94, 139, .8);
}

thead{
    color:white;
}

th,td{
    text-align:center;
    padding:1vh 0;
}

tbody tr:nth-child(even){
    background:#ECF0F1;
}

tbody tr:hover{
    background:#BDC3C7;
    color:#FFFFFF;
}